---
import MainLayout from "/home/danoch/ossified-orbit/src/mylayouts/mainlayout.astro";
---

<MainLayout title="Material">
    <p>
        Material and links for Digital 
        Switching in <a href='https://rturae472fa23.slack.com/ssb/redirect'>Slack</a
        > !
    </p>
</MainLayout>