<body>
    <a href="/">Home</a>
	<a href="/about">About</a>
    <a href="/reports">Reports</a>
    <h1>My Reports</h1>
    <ul>
        <li>Listening to music</li>
        <li>Reading</li>
        <li>Watching movies</li>
    </ul>
</body>